/* .vitepress/theme/custom.css */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Source+Code+Pro&display=swap');


:root {
  --vp-font-family-base: 'Noto Sans KR', sans-serif;    /* normal text font */
  --vp-font-family-mono: 'Source Code Pro', monospace;  /* code font */
  --vp-code-line-height: 1.7;
  --vp-code-font-size: 1rem;  
  --vp-custom-block-font-size: 18px;
  --vp-custom-block-code-font-size: 16px;

  /* color */
  --vp-c-brand: rgb(255, 115, 64);
  --vp-c-brand-light: rgb(255, 87, 25);
  --vp-c-brand-lighter: rgb(255, 115, 64);
  --vp-c-brand-dark: #FF622D;
  --vp-c-brand-darker: rgb(226, 60, 0);

  --vp-c-sponsor: #fd1d7c;
}

